# available constants:
# CC, CXX, F77, CXXFLAGS, BASEDIR, SRCDIR
# all commands are executed in $SRCDIR/$NAME

[alberta]
src=http://www.mathematik.uni-stuttgart.de/fak8/ians/lehrstuhl/nmh/downloads/alberta/alberta-3.0.1.tar.gz
build='./configure --prefix=$INSTALL_PREFIX --disable-fem-toolbox CC=$CC F77=$F77 CXX=$CXX CXXFLAGS="-DNDEBUG -std=c++11 -O2 -w -fPIC"'
      'make'
      'make install'

[eigen]
src=http://bitbucket.org/eigen/eigen/get/3.2.4.tar.gz
build='test -d build || mkdir build'
      'rm -rf build/*'
      'cd build && cmake .. -Wno-dev -DCMAKE_INSTALL_PREFIX=$INSTALL_PREFIX -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_BUILD_TYPE=RELEASE'
      'cd build && make'
      'cd build && make install'

