[submodule "config.opts"]
	path = config.opts
	url = http://users.dune-project.org/repositories/projects/dune-config-opts.git
[submodule "local/bin"]
	path = local/bin
	url = http://users.dune-project.org/repositories/projects/dune-demos-bin.git
