# This file is part of the dune-gdt-pymor-interaction project:
#   https://github.com/dune-community/dune-gdt-pymor-interaction
# Copyright holders: Felix Schindler
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)

# available constants:
# CC, CXX, F77, CXXFLAGS, BASEDIR, SRCDIR
# all commands are executed in $SRCDIR/$NAME

[silence_dune_alugrid]
only_build=True
build='sed -i 's;std::cout <<;// std::cout <<;g' $BASEDIR/dune-alugrid/dune/alugrid/common/defaultindexsets.hh'
      'sed -i 's/const bool verbose = verb && this->comm().rank() == 0;/const bool verbose = false;/g' $BASEDIR/dune-alugrid/dune/alugrid/3d/alugrid.hh'
      'sed -i 's/return ch( msg );/return \"\";/' $BASEDIR/dune-alugrid/dune/alugrid/impl/serial/walk.h'

[alberta]
src=http://www.mathematik.uni-stuttgart.de/fak8/ians/lehrstuhl/nmh/downloads/alberta/alberta-3.0.1.tar.gz
build='sed -i 's;info = 2;// info = 2;g' alberta/src/Common/check.c'
      'sed -i 's;WARNING;// WARNING;g' alberta/src/3d/macro_3d.c'
      './configure --prefix=$INSTALL_PREFIX --disable-fem-toolbox CC=$CC F77=$F77 CXX=$CXX CXXFLAGS="-DNDEBUG -std=c++11 -O2 -w -fPIC"'
      'make'
      'make install'
